*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; text-decoration: none; }

header{width: 100%;}
    header img{width: 100%;}

footer{
    width: 100%;
    padding: 30px 5%;
    margin-top: 30px;
    background: #333;
    color: #a245fa;
    border-top: 5px solid #a245fa;
    box-shadow: 0 10px 20px #999;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}

main{
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: space-evenly;
    background: #fff;
    padding: 30px 0;
}
.product{
    position: relative;
    background: #a245fa;
    box-shadow: 0 10px 20px #118fd8;
    border-radius: 3px;
    border: 1px solid #106dd8;
    text-align: center;
}
.product a{ color: #333;}
.product_title{
    font-size: 16px;
    background: #333;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    
}
.product_price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
   
}

.product_image img{
    width: 70%;
}
.product_button{
    display: grid;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 17px;
    font-weight: bold;
    z-index: 2;
    background: #000;
    align-items: center;
    justify-content: center;
   

}
.product:hover .product_button{
    opacity: 0.75;
    transition: opacity 1s;
     
}
.product_button_label{
    background: #08cf62;
    padding: 13px;
    border-radius: 2px;
   
}